@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');


html,
body ,
header,
.view {
    height: 100%;
    background-color: #2f2d2d !important;
}

@media (max-width: 740px) {

  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #1C1C1C !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #1C1C1C !important;
  }
}

.navbar a{
    color: #818181;
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
}

.navbar a:hover:not(.active) {
    color: rgb(146, 3, 3);
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #1C1C1C; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;
}
  
  /* The navigation menu links */
.sidenav a {
    padding: 8px 10px 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    font-family: 'Comfortaa', sans-serif;
    margin-top: 10px;
}
  
/* Active/current link */
.sidenav a.active {
    background-color: #2f2d2d;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidenav a:hover:not(.active) {
    background-color: #2f2d2d;
    color: white;
  }
  
  /* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 15px;}
}


.searchBar {
    position: absolute;
    width: 152px;
    height: 29px;
    left: 1155px;
    top: 70px;
}

.addBook {
    position: absolute;
    width: 152px;
    height: 29px;
    left: 300px;
    top: 80px;
    color: mediumblue;
}

.addBook a{
    font-family: 'Comfortaa',sans-serif;
    font-size: 16px;
}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.myTable th{
    font-weight: bold;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
}

.myTable td{
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
}

.trtable:nth-child(even) {
    background-color: #f2f2f2;
  }

.myTable {
    border-collapse: collapse;
    position: absolute;
    width: 1010px;
    height: 460px;
    left: 300px;
    top: 150px;

    background: #F2F2F2;
}

.bookText {
  color: #dddddd;
  left: 300px;
  top: 125px;
  position: absolute;
  width: auto;
  height: 29px;
  font-family: 'Comfortaa', sans-serif;
}

.edit {
  color: darkblue;
}

.delete {
  color: darkred;
}

.modal {
  display: none;
  position: fixed; 
  width: 100% !important;
  height: 100% !important; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.box {
  width: 75% !important;
  padding-top: 150px;
  padding-left: 450px;
}

.modal-content {
  background-color: white !important; 
  height: 340px;

  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


.close-btn {
  float: right; 
  color: lightgray; 
  font-size: 18px;  
  font-weight: bold;
}

.close-btn:hover {
  color: darkgray;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal h5 {
  color: #e6e6e6;
}

.modal-header {
  vertical-align: middle;
  background-color: #2f2d2d;
  height: 50px;
  font-family: 'Comfortaa', sans-serif;
}

.modal-content p {
  padding-left: 0px;
  padding-top: 0px;
}

.col-25 {

  font-family: 'Comfortaa', sans-serif;
  color: black;
  float: left;
  width: 25%;
  margin-top: 10px;
  padding-left: 40px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 10px;
  padding-right: 40px;
}

.col-25-patron {

  font-family: 'Comfortaa', sans-serif;
  color: black;
  float: left;
  width: 30%;
  margin-top: 10px;
  padding-left: 30px;
}

.col-75-patron {
  float: left;
  width: 70%;
  margin-top: 10px;
  padding-right: 30px;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.submitBtn {
  background-color: #2d22c2;
  color: black;
  padding: 12px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
  float: right !important;
}

.submitBtn :hover {
  background-color: #45a049;
}

button {
  padding-left: 200;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.myCharts {
  left: 60px;
  top: 30px;
}

h6 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
  color: #dddddd !important;
  text-align: center;
}