<template>
  <div id="app">
    <SideBar />
    <NavBar />
      <router-view />
  </div>
</template>

<script>
import SideBar from "@/components/navs/SideBar";
import NavBar from "@/components/navs/NavBar";
export default {
  components: { SideBar, NavBar },
};
</script>

<style>

</style>