<template>
  <div id="app">
    <div class="main">
      <div class="container pt-4 mb-3">
        <div class="row mt-2">
          <div class="col-11 col-sm-11 col-md-11 col-lg-11">

            <div class="row justify-content-start mr-1 mb-2">
              <a v-on:click="$bvModal.show('addModal')" class="addModal-link">
                <img src="@/assets/img/addPlus.svg" height="17" class=" mr-1 addlogo">
                Add Book
              </a>
            </div>
            <div class="row justify-content-end pr-4 mb-3 ">
            <div class="searchBar md-form my-0 row justify-content-end">
                <input class="form-control mr-sm-2" type="text" placeholder="Search            ⌕" aria-label="Search">
            </div>
            </div>

            <p class="title pt-4" >Book Management</p>
            <div class="card card-shadow">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Author</th>
                      <th scope="col">Copies <br />Available</th>
                      <th scope="col">Category</th>
                      <th scope="col">Date Registered</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(book, i) in books" :key="i">
                      <td>{{ book.name }}</td>
                      <td>{{ book.author }}</td>
                      <td>{{ book.copies }}</td>
                      <td>{{ book.category.category }}</td>
                      <td>{{ book.created_at | formatDate }}</td>
                      <td>
                        <a type="button" v-on:click="$bvModal.show('editModal'); id = i; data = {...book}">
                        <img
                          src="@/assets/img/editLogo.svg"
                          class="mr-2 cursor-pointer"
                          height="18"
                        />
                        </a>
                        <a type="button" v-on:click.prevent="$bvModal.show('deleteModal'); id = book.id;">
                        <img
                          src="@/assets/img/deleteLogo.svg"
                          class="mr-2 cursor-pointer"
                          height="18" 
                          />
                        </a>
                        <a type="button" v-on:click="book_data.book_id = book.id; id = i; $bvModal.show('returnModal'); ">
                        <img
                          src="@/assets/img/returnLogo.svg"
                          class="mr-2 cursor-pointer"
                          height="18" 
                          />
                        </a>
                        <a type="button" v-on:click="book_data.book_id = book.id; id = i; $bvModal.show('borrowModal'); ">
                        <img
                          src="@/assets/img/borrowLogo.svg"
                          class="cursor-pointer"
                          height="16"/>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--- ADD --->
    <b-modal class="modalsss" id="addModal" centered title="Add Book">
      <form class="pl-4 pr-4">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" v-model="data.name" class="form-control" id="name" placeholder="Name of the book. . ." />
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input type="text" v-model="data.author" class="form-control" id="author" placeholder="Author's Name. . ." />
        </div>
        <div class="form-group">
          <label for="copies">Copies</label>
          <input type="number" v-model="data.copies" class="form-control" id="copies" placeholder="" />
        </div>
        <div class="form-group">
          <label for="customSelect">Category</label>
          <select id="customSelect" v-model="data.category_id" name="categs" class="custom-select">
            <option v-for="(categ, i) in categories" :key="i" :value="categ.id">{{categ.category}}</option>
          </select>
        </div>
      </form>      
      <template #modal-footer>
        <b-button class="button" size="sm" variant="primary" v-on:click="saveBook">
          Add Book
        </b-button>
      </template>
    </b-modal>

    <!--- EDIT --->
    <b-modal id="editModal" centered title="Edit Book">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" v-model="data.name" class="form-control" id="name" placeholder="" />
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input type="text" v-model="data.author" class="form-control" id="author" placeholder="" />
        </div>
        <div class="form-group">
          <label for="copies">Copies</label>
          <input v-model="data.copies" class="form-control" id="copies" placeholder="" type="number"/>
        </div>
        <div class="form-group">
          <label for="customSelect">Category</label>
          <select id="customSelect" v-model="data.category_id" name="categs" class="custom-select">
            <option v-for="(categ, i) in categories" :key="i" :value="categ.id">{{categ.category}}</option>
          </select>
        </div>
      </form>
      <template #modal-footer = {cancel}>
        <b-button class="button" variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
        <b-button class="button" size="sm" variant="success" v-on:click="bookUpdate">
          Update
        </b-button>
      </template>
    </b-modal>

    <!-- DELETE -->
    <b-modal id="deleteModal" centered title="Confirm Delete">
      <p class="my-4">Are you sure you want to delete book data?</p>
      <template #modal-footer="{ cancel }">
        <b-button class="button" variant="info" @click="cancel()"> Cancel </b-button>
        <b-button class="button" variant="danger" v-on:click="bookDelete"> Confirm </b-button>
      </template>
    </b-modal>

    <!-- Return Book -->
    <b-modal id="returnModal" centered title="Return Book">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <label for="copies">Copies</label>
          <input v-model="book_data.copies" class="form-control" id="copies" placeholder="" type="number"/>
        </div>
        <div class="form-group">
          <label for="customSelect">Patron</label>
          <select id="customSelect" v-model="book_data.patron_id" name="patrons" class="custom-select">
            <option selected disabled>Please select a patron (optional)</option>
            <option v-for="(patron, i) in patrons" :key="i" :value="patron.id">  {{patron.first_name +" " +patron.middle_name +" " +patron.last_name}}</option>
          </select>
        </div>
      </form>
      <template #modal-footer = {cancel}>
        <b-button class="button" variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
        <b-button class="button" size="sm" variant="success" v-on:click="returnBook">
          Return Book
        </b-button>
      </template>
    </b-modal>

    <!-- Borrow Book -->
    <b-modal id="borrowModal" centered title="Borrow Book">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <label for="copies">Copies</label>
          <input v-model="book_data.copies" class="form-control" id="copies" placeholder="" type="number"/>
        </div>
        <div class="form-group">
          <label for="customSelect">Patron</label>
          <select id="customSelect" v-model="book_data.patron_id" name="patrons" class="custom-select">
            <option selected disabled>Please select a patron (optional)</option>
            <option v-for="(patron, i) in patrons" :key="i" :value="patron.id">  {{patron.first_name +" " +patron.middle_name +" " +patron.last_name}}</option>
          </select>
        </div>
      </form>
      <template #modal-footer = {cancel}>
        <b-button class="button" variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
        <b-button class="button" size="sm" variant="success" v-on:click="borrowBook">
          Borrow Book
        </b-button>
      </template>
    </b-modal>

  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
import {toast} from '@/assets/js/toast/vue-toast'

export default {
  mixins: [toast],
  data() {
    return {
      id: '',
      data: {
        name: '', author: '', copies: '', category_id: ''
      },
      modalId: '',
      book_data: { book_id: '', copies: '', patron_id: ''},
      validated: false,
    }
  },
  mounted() {
    document.title = "Book Management";
    this.getBooks();
    this.getCategories();
    this.getPatrons();
    this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
      this.modalId = modalId;
    })
    this.$root.$on('bv::modal::hide', () => {
      this.clearData();
    })
  },
  computed: {
    ...mapState("books", ["books", "categories"]),
    ...mapState("patrons", ["patrons"])
  },
  methods: {
    ...mapActions("books", ["getBooks", "deleteBook", "storeBook", "updateBook", "getCategories"]),
    ...mapActions("patrons", ["getPatrons"]),
    ...mapGetters("books", ["getBooksData"]),
    ...mapActions("borrowed", ["createBorrowed"]),
    ...mapActions("returned", ["createReturned"]),
    
    async saveBook(){
      this.validateFields(this.data)
      if(!this.validated)
        return;
      
      const res = await this.storeBook({...this.data})
       res.status == 200 ? this.showSuccess('Book saved successfully!') : this.showError(res.data)
      
    },
    async bookDelete(){
      const res = await this.deleteBook(this.id);
      if(res.status !== 200)
       this.showError(res.data)
       
      this.$bvModal.hide('deleteModal');
    },
    async bookUpdate(){
      this.validateFields(this.data)
      if(!this.validated)
        return;
      
      const res = await this.updateBook({index: this.id, data: this.data})
      res.status == 200 ?  this.showSuccess('Patron updated successfully!') : this.showError(res.data)
    },
    async returnBook(){
      this.book_data.patron_id == '' ? delete this.book_data.patron_id : ''
      const res = await this.createReturned({data: this.book_data, index: this.id})
      if(res.status == 200){
        this.showSuccess('Return Successful')
      }
      else if(res.status == 404){
        this.showErrorToast('Book does not match from borrowed books');
      }
      else{
        this.showError(res.data)
      }
    },
    async borrowBook(){
      this.book_data.patron_id == '' ? delete this.book_data.patron_id : ''
      const res = await this.createBorrowed({data: this.book_data, index: this.id})
      res.status == 200 ? this.showSuccess('Borrowed Successful'): this.showError(res.data)
    },

    showSuccess(msg){
      this.$bvModal.hide(this.modalId);
      this.showSuccessToast(msg);
    },
    clearData(){
      this.data = { name: '', author: '', copies: '', category_id: ''}
    },
    showError(data){
      for (const key of Object.keys(data)) {
        this.showErrorToast(data[key][0]);
      }
    },
    validateFields(books){
      let errors = []
      this.validated = false;
      
      if(books.name == '')
        errors.push('Name of book is required!')
      if(books.author == '')
        errors.push('Author is required!')
      if(books.copies == '')
        errors.push('Copies of book is required')
      if(books.copies < 0)
        errors.push('Copies of book should not be negative')
      if(books.category_id == '')
        errors.push('Category is required!')

      if(errors.length > 0){
        for(var e in errors){
          this.showErrorToast(errors[e])
        }
        return;
      }
      this.validated = true
    }
  },
  watch: {

  }
}
</script>