<template>
  <div id="app">
    <SideBar isActive="index"/>
    <NavBar />
    <div class="main">
      <div class="container pt-4">
        <div class="row mt-5">
          <div class="col-10 col-sm-10 col-md-6 col-lg-6 pb-3">
            <h6 class="text-white">Borrowed and returned books</h6>
            <canvas id="barChart" ref="barChart" width="250" height="170"></canvas>
          </div>
          <div class="col-10 col-sm-10 col-md-6 col-lg-6 pb-3">
            <h6 class="text-white">Popular book genre</h6>
            <canvas id="pieChart" width="250" height="160"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SideBar from "../../navs/SideBar";
import NavBar from "../../navs/NavBar";
import Chart from 'chart.js';
export default {
  components: { SideBar, NavBar },
  data(){
    return {
      msg: 'Hello World!'
    }
  },
  methods: {
    
  },
  mounted() {
    document.title = "Dashboard"
    this.$nextTick(() => {
      var ctx = this.$refs.barChart.getContext("2d");
      new Chart(ctx, {
        type: "bar",
        data: {
          labels: ["JAN", "FEB", "MARCH", "APRIL", "MAY", "JUNE"],
          datasets: [
            {
              label: "Borrowed Books",
              data: [3, 5, 8, 7, 11, 5],
              borderWidth: "1",
              backgroundColor: "rgba(255, 0, 61, .2)",
              borderColor: "rgba(255, 0, 61)",
            },
            {
              label: "Returned Books",
              data: [2, 4, 11, 9, 8, 7],
              borderWidth: "1",
              backgroundColor: "rgba(0, 90, 225, .2)",
              borderColor: "rgba(0, 90, 225)",
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });

      var pie = document.getElementById("pieChart").getContext("2d");
      new Chart(pie, {
        type: "doughnut",
        data: {
          datasets: [
            {
              data: [20, 10, 40, 20],
              backgroundColor: [
                "rgba(255, 0, 61, 0.2)",
                "rgba(255, 159, 64, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
              ],
              borderColor: [
                "rgba(255, 0, 61)",
                "rgba(255, 159, 64)",
                "rgba(75, 192, 192)",
                "rgba(153, 102, 255)",
              ],
            },
          ],

          labels: ["History", "Filipino", "Computer", "Others"],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });
    });
  },
};
</script>