@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");


html,
body ,
header,
.view {
    height: 100%;
}

@media (max-width: 740px) {

    html,
    body,
    header,
    .view {
        height: 100vh;
    }
}

.top-nav-collapse {
    background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #78909c !important;
    }
}

h1 {
    letter-spacing: 1px;
}

h5 {
    letter-spacing: 3px;
}


.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}

.gallery {
    -webkit-column-count: 8;
    -moz-column-count: 8;
    column-count: 8;
    -webkit-column-width: 12%;
    -moz-column-width: 12%;
    column-width: 12%;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
        -webkit-column-width: 25%;
        -moz-column-width: 25%;
        column-width: 25%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

.red-text {
    color: #cc2b3a !important;
}


.info {
    grid-column: 2 / span 4;
    padding: 60px 0;
}
  
.hero__font {
    color: var(--light);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 4.375rem;
}
  
.icons {
    display: flex;
    margin-top: 55px;
}
  
.icon {
    display: flex;
    align-items: center;
}
  
.icon__info {
    margin: 0 80px 0 20px;
}
  
.icon__top {
    font-size: 1.0125rem;
    font-weight: 400;
    margin-bottom: 5px;
}
  
.icon__bottom {
    font-size: 1.5125rem;
    font-weight: 700;
}

@media only screen and (max-width: 1100px) {
.icon img {
    height: 55px;
    width: auto;
}
  
.icon__top {
    font-size: 1rem;
}
  
.icon__bottom {
    font-size: 1.125rem;
}
  
.hero__font {
    font-size: 2.1875rem;
}
  
.features {
    grid-column: 1 / span 8;
 }
}
  
@media only screen and (max-width: 650px) {
nav .links {
    display: none;
}
  
.info {
    grid-column: 2 / span 6;
}
  
.icons {
    flex-direction: column;
}
  
.icon {
    margin-bottom: 25px;
}
  
.feature {
    flex-direction: column;
    }
}
