<template>
  <div class="nav">
    <div class="nav-container">
      <div class="logoutuser-container">
        <div class="d-flex align-items-center">          
          <a href="" class="logout-link">
            <img src="@/assets/img/logout.png" height="15" class="logout-logo mr-2">
          Logout</a>
        </div>
      </div>
    </div>
  </div>
</template>