<template>
  <div class="sidenav" id="app">
    <a class="sidenav-brand" href="#">
      <img class="logo" src="@/assets/img/logo.svg" alt="Bookroom Logo | Homepage" /></a>

    <router-link to="/" :class="getRoute == '/' ? 'active' : ''">
      <div class="pages-container">
        <div class="pages">
          <img src="@/assets/img/dashboard.png" height=20 class="ml-4 mt-1 position-absolute">
          <p class="ml-6 mt-1 option" href="">Dashboard</p>
        </div>
      </div>
    </router-link>

    <router-link to="/patron" :class="getRoute == '/patron' ? 'active' : ''">
      <div class="pages-container">
        <div class="pages">
          <img src="@/assets/img/patron.png" height="20" class="ml-4 mt-1 position-absolute">
          <p class="ml-6 mt-1 option" href="">Patron Management</p>
        </div>
      </div>
    </router-link>

    <router-link to="/books" :class="getRoute == '/books' ? 'active': ''">
      <div class="pages-container">
        <div class="pages">
          <img src="@/assets/img/books.png" height="20" class="ml-4 mt-1 position-absolute">
          <p class="ml-6 mt-1 option" href="">Book Management</p>
        </div>
      </div>
    </router-link>

    <router-link to="/settings" :class="getRoute == '/settings' ? 'active' : ''">
      <div class="pages-container">
        <div class="pages">
          <img src="@/assets/img/settings.png" height="21" class="ml-4 mt-1 position-absolute">
          <p class="ml-6 mt-1 option" href="">Settings</p>
        </div>
      </div>
    </router-link>

  </div>
</template>
<script>
export default {
  data() {
    return {
      data: "",
    };
  },
  mounted() {

  },
  methods: {
  },
  computed: {
    getRoute: function(){
      return this.$route.path
    }
  }
};
</script>