<template>
  <div id="app">
    <div class="main">
      <div class="container pt-4">
        <div class="row mt-2">
          <div class="col-11 col-sm-11 col-md-11 col-lg-11">

            <div class="row justify-content-start mr-1 mb-2">
              <a v-on:click="$bvModal.show('addModal')" class="addModal-link">
                <img src="@/assets/img/addPlus.svg" height="17" class=" mr-1 addlogo">
                Add Patron
              </a>
            </div>
            <div class="row justify-content-end mr-1 mb-3 ">
            <div class="searchBar md-form my-0 row justify-content-end">
                <input class="form-control mr-sm-2" type="text" placeholder="Search            ⌕" 
                aria-label="Search">
            </div>
            </div>
  
            <p class="title pt-4" >Patron Management</p>
            <div class="card card-shadow">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Email Address</th>
                      <th scope="col">Date Registered</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(patron, i) in patrons" :key="i">
                      <td>{{
                        patron.first_name +
                        " " +
                        patron.middle_name +
                        " " +
                        patron.last_name
                      }}</td>
                      <td>{{ patron.email }}</td>
                      <td>{{ patron.created_at | formatDate }}</td>
                      <td>
                        <a
                        type="button"
                        data-toggle="modal"
                        data-target="#deleteModal"
                        @click="$bvModal.show('editModal'); index = i; input = {...patron}"
                        >
                        <img
                          src="@/assets/img/editLogo.svg"
                          class="mr-2"
                          height="18"
                        />
                        </a><a
                          type="button"
                          data-toggle="modal"
                          data-target="#deleteModal"
                          @click="$bvModal.show('deleteModal'); index = patron.id"
                          ><img
                            src="@/assets/img/deleteLogo.svg"
                            height="18"
                        /></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!---ADD --->
    <b-modal id="addModal" centered title="Add Patron">
      <form class="pl-4 pr-4" ref="addPatronModal">
        <div class="form-group">
          <label for="AddPatronFirstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="AddPatronFirstName"
            placeholder=""
            v-model="input.first_name"
          />
        </div>
        <div class="form-group">
          <label for="AddPatronMiddleName">Middle Name</label>
          <input
            type="text"
            class="form-control"
            id="AddPatronMiddleName"
            placeholder=""
            v-model="input.middle_name"
          />
        </div>
        <div class="form-group">
          <label for="AddPatronLastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="AddPatronLastName"
            placeholder=""
            v-model="input.last_name"
          />
        </div>
        <div class="form-group">
          <label for="AddPatronEmail">Email address</label>
          <input
            type="email"
            class="form-control"
            id="AddPatronEmail"
            placeholder="example@email.com"
            v-model="input.email"
          />
        </div>
      </form>
      <template #modal-footer>
        <b-button class="button" size="sm" variant="primary" v-on:click="savePatron">
          Add Patron
        </b-button>
      </template>
    </b-modal>

    <!---EDIT --->
    <b-modal id="editModal" centered title="Edit Patron">
      <form class="pl-5 pr-5" ref="editPatronModal">
        <div class="form-group">
          <label for="EditPatronFirstName">First Name</label>
          <input
            type="email"
            class="form-control"
            id="EditPatronFirstName"
            placeholder=""
            v-model="input.first_name"
          />
        </div>
        <div class="form-group">
          <label for="EditPatronMiddleName">Middle Name</label>
          <input
            type="text"
            class="form-control"
            id="EditPatronMiddleName"
            placeholder=""
            v-model="input.middle_name"
          />
        </div>
        <div class="form-group">
          <label for="EditPatronLastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="EditPatronLastName"
            placeholder=""
            v-model="input.last_name"
          />
        </div>
        <div class="form-group">
          <label for="EditPatronEmail">Email address</label>
          <input
            type="text"
            class="form-control"
            id="EditPatronEmail"
            placeholder=""
            v-model="input.email"
          />
        </div>
      </form>
      <template #modal-footer>
        <b-button class="button" variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
        <b-button class="button" size="sm" variant="success" v-on:click="patronUpdate">
          Update
        </b-button>
      </template>
    </b-modal>

    <b-modal id="deleteModal" centered title="Confirm Delete">
      <p class="my-4">Are you sure you want to delete patron data?</p>
      <template #modal-footer="{ cancel }">
        <b-button class="button" variant="info" @click="cancel()"> Cancel </b-button>
        <b-button class="button" variant="danger" v-on:click.prevent="patronDelete()"> Confirm </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';
import {toast} from '@/assets/js/toast/vue-toast'

export default {
  mixins: [toast],
  mounted() {
    document.title = "Patron Management";
    this.$root.$on('bv::modal::hide', () => {
      this.clearFields();
    })
    this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
      this.modalId = modalId;
    })
    this.getPatrons();
    this.getPatronData();
  },
  computed: {
    ...mapState('patrons', ['patrons'])
  },
  data() {
    return {
      input: {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
      },
      modalId: '',
      index: "",
      validated: false,
    };
  },
  methods: {
    ...mapActions('patrons', ['getPatrons', 'storePatron', 'deletePatron', 'updatePatron']),
    ...mapGetters('patrons', ['getPatronData']),
    validEmail(){
      let regEx = /^([a-z0-9_\-.])+@([a-z0-9_\-.])+\.([a-z0-9]{2,})$/gi
      let isEmail = regEx.test(this.input.email)
      return isEmail
    },
    async savePatron() {
      this.validateFields(this.input)
      if(!this.validated)
        return;

      const res = await this.storePatron(this.input)
      res.status == 200 ? this.showSuccess('Patron saved successfully!') : this.showError(res.data)
      
    },
    async patronDelete() {
      const res = await this.deletePatron(this.index);
      if(res.status !== 200)
       this.showError(res.data)
       
      this.$bvModal.hide('deleteModal');
    },
    async patronUpdate(){
      this.validateFields(this.input)
      if(!this.validated)
        return;

      const res = await this.updatePatron({data: {...this.input}, index: this.index})
      res.status == 200 ?  this.showSuccess('Patron updated successfully!') : this.showError(res.data)
    },
    showSuccess(msg){
      this.$bvModal.hide(this.modalId);
      this.showSuccessToast(msg);
    },
    clearFields() {
      this.input.first_name = "";
      this.input.middle_name = "";
      this.input.last_name = "";
      this.input.email = "";
    },
    showError(data){
      for (const key of Object.keys(data)) {
        this.showErrorToast(data[key][0]); 
      }
    },
    validateFields(input){
      let errors = []

      this.validated = false;
      
      if (input.first_name == "")
        errors.push("First Name is required!");
      if (input.last_name == "")
        errors.push("Last Name is required!");
      if (input.email == ""){
        errors.push("Email is required!");
      }
      if(!this.validEmail())
        errors.push("Email is not valid");

      if(errors.length > 0){
        for(var e in errors){
          this.showErrorToast(errors[e])
        }
        return;
      }
      
      this.validated = true
    }
    
  },
};
</script>