@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap');

html {
  height: 100%;
}

body {
    line-height: 1.4rem !important;
    font-family: 'Comfortaa', sans-serif !important;
    background-color: #2f2d2d !important;
}

a:hover {
    text-decoration: none;

}

.logout-link {
    color: lightgray;
    padding-top: 4px;
    font-size: 15px;
}

.sidenav {
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: #1c1c1c;
    overflow-x: hidden;
    transition: all 400ms;
}

.sidenav a {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.05rem;
    color: #c0c0c0;
    display: block;
    font-family: 'Comfortaa', sans-serif;
    transition: all 250ms;
}

.sidenav a:hover {
    color: #fafafa;
}

.logout-link:hover {
    color: #810000;
}

.addModal-link:hover {
    color: dodgerblue;
    cursor: pointer;
}

.searchBar {
    position: absolute;
    width: 155px;
    height: 29px;
    padding-bottom: 10px;
    padding-right: 2px;
}

.searchBar .form-control {
    background-color: #2f2d2d !important;
    border-color: #666869 !important;
    color: lightgray !important;
    font-weight: lighter !important;
    font-size: 15px !important;
}

.addModal-link {
    vertical-align: middle !important;
    font-size: 15px;
    padding-left: 10px;

}

.pages-container {
    width: 100%;
    height: 60px;
    position: relative;
    margin-top: 1rem;
  
}

.pages {
    position: absolute;
    margin-top: 6.3%;
}

.active {
    position: relative;
    background: #2f2d2d;
    transition: all 500ms;
    color: #ffff;
}

.active::after {
    content: "";
    top: 0;
    right: 0;
    width: 3%;
    position: absolute;
    background: #495057;
    height: 100%;
}

.sidenav-brand {
    padding-top: 12px;
    padding-left: 32px;
    padding-bottom: 30px;
}

.nav {
    width: 100%;
    background: #1c1c1c;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    height: 4rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.addlogo {
    margin-bottom: 2px;
}

.logout-logo {
    margin-bottom: 2px;
}

.custom-form {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px;

}

.custom-form:focus {
    outline: none !important;
    border: 0px;
}

.nav-container {
    margin-left: 265px;
    margin-top: 1.2rem;
}

.logoutuser-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 4.2rem;
    margin-top: 1.1rem;
    display: inline-block;
}

.mr-negative {
    margin-top: -6.4px;
}

.main {
    margin-left: 340px;
    padding: 0px 10px;
    margin-top: 4rem;
}

.title {
    color: lightgray;
    font-size: 16px;
}

.table {
    border-collapse: collapse;
    background: #F2F2F2;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

thead {
    background-color: rgb(129, 129, 129);
    font-weight: bold;
}

h6 {
    text-align: center;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    font-size: 15px;
    vertical-align: middle !important;
  }


.card-shadow {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.page-item.active .page-link {
    background-color: #3498DB !important;
    border-color: #3498DB !important;
}

.cursor-pointer {
    cursor: pointer;
}

.ml-6 {
    margin-left: 4rem;
}

.button {
    color: black !important;
    font-weight: bold !important;
    font-size: 16px !important;
}


@media only screen and (max-width: 768px) {
    html {
        font-size: .9rem;
    }

    .sidenav {
        width: 80px;
    }

    .main {
        margin-left: 110px;
    }

    .active {
        height: 50px;
    }

    .active::after {
        width: 6px;
    }

    .nav-container {
        margin-left: 125px;
    }
  
    .option {
        display: none;
    }

}
